@font-face {
    font-family: source code pro;
    src: url("../font/sourcecodepro.ttf");
}

@font-face {
    font-family: zilla slab;
    src: url("../font/zillaslab.otf");
}

@font-face {
    font-family: zilla slab bold;
    src: url("../font/zillaslabbold.ttf");
}

body {
    background-color: transparent;
    color: black;
    /* 46*n_columns + 10 */
    width: 332px;
    /* 46*n_rows + 14 + height_titles (36)*/
    height: 322px;
    overflow: hidden;
}

#popup-content {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: transparent;
    border: 0px solid transparent;
    position: relative;
    overflow: hidden;
}

#popup-content-background {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: transparent;
    border: 0px solid transparent;
    position: relative;
    overflow: hidden;
    background-image: url("../img/icon-dark.svg");
    background-position: 250px 250px;
    background-repeat: no-repeat;
    background-size: 200px auto;
    padding: 0px;
    box-sizing: border-box;
    opacity: 0.06;
}

#titles {
    position: absolute;
    width: auto;
    height: 32px;
    top: 4px;
    left: 4px;
    right: 4px;
    overflow: visible;
    box-sizing: border-box;
    background-color: #F5F5F5;
    padding: 0px;
    border-radius: 3px;
}

#letters {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 38px;
    left: 0px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    overflow: hidden;
    background: transparent;
}

.section_title {
    background-color: transparent;
    width: 50%;
    height: 100%;
    padding: 3px;
    border: 0px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    font-family: zilla slab;
    margin: 0px;
    cursor: pointer;
    position: relative;
    font-weight: normal;
    transition: 0.2s;
    box-sizing: border-box;
    cursor: pointer;
    outline: inherit;
    color: #222222;
    z-index: 8;
}

.selection_title_sel {
    color: rgb(10, 132, 255);
    background-color: #DFDFDF;
    font-family: zilla slab bold;
}

.letter {
    background-color: transparent;
    padding: 5px;
    width: 40px;
    height: 40px;
    color: black;
    border: 0px;
    border-radius: 3px;
    font-size: 16px;
    font-family: source code pro;
    margin: 3px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
    outline: inherit;
}

.section_title:hover,
.letter:hover {
    background-color: #E5E5E5;
}

.letter:active,
.letter:focus {
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
    background-color: #E5E5E5;
}

.section_title:active, .section_title:focus {
    background-color: #E2E2E2;
    box-shadow: 0px 0px 0px 3px #0a84ff;
    z-index: 9;
}

b.character-copied {
    position: fixed;
    bottom: 3px;
    right: 30%;
    left: 30%;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 16px;
    color: rgb(221, 222, 223);
    z-index: 999;
    background-color: #0a84ff;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;
    border: 0px solid transparent;
    text-align: center;
    width: auto;
    font-weight: bold;
    font-family: zilla slab;
}